
.JfMenu {
  position: absolute;
  z-index: 200;
}

.JfMenu .list {
  cursor: pointer;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.JfMenu.Show .list {
  background-color: #fafafa;
}

.JfMenu .list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

.JfMenu .list li {
  color: #333333;
  position: relative;
  padding: 0 2em 0 1.6em;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  min-width: 5em;
  max-width: 13em;
}
.JfMenu .list li.disabled {
  color: #c0c4cc;
  cursor: not-allowed;
}
.JfMenu .list li:not(.disabled):hover {
  background: #4fa0f1;
  color: #fff;
}
.JfMenu .list li:not(.disabled):first-child:hover {
  border-radius: 4px 4px 0 0;
}
.JfMenu .list li:not(.disabled):last-child:hover {
  border-radius: 0 0 4px 4px;
}
.JfMenu .list li:not(.disabled):only-child:hover {
  border-radius: 4px;
}

.JfMenu .icon-more {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -5px;
  z-index: 1;
}
.JfMenu .icon-more:after {
  content: '';
  width: 6px;
  height: 6px;
  border: 2px solid #666;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3px;
  margin-top: -3px;
  z-index: 1;
}